<div class="flex flex-col min-h-screen">
    <main class="flex-1 py-12 px-4 md:px-6">
        <div class="max-w-3xl mx-auto">
            <h1 class="text-6xl font-bold mb-12 text-center">Sobre Mí</h1>
            <div
                class="flex flex-col md:flex-row gap-8 items-start text-center md:text-start"
            >
                <img
                    src="utils/miFoto.jpg"
                    alt="Franco Agustín Jimenez Copati"
                    class="rounded-lg border-4 border-green-400 self-center md:self-start w-80 h-auto"
                />
                <div>
                    <h2 class="text-2xl font-bold mb-4 text-green-400">
                        Datos Personales
                    </h2>
                    <ul class="space-y-2 mb-6">
                        <li><strong>Nombre:</strong> Franco Agustín</li>
                        <li><strong>Apellido:</strong> Jimenez Copati</li>
                        <li><strong>Ubicación:</strong> Argentina, CABA</li>
                    </ul>
                    <h2 class="text-2xl font-bold mb-4 text-green-400">
                        ¿Por qué Wordle?
                    </h2>
                    <p class="mb-4">
                        Elegí agregar Wordle a nuestra colección porque es un
                        juego que desafía el vocabulario y la deducción lógica.
                        Cada intento de adivinar la palabra correcta genera una
                        sensación de logro que lo hace muy adictivo y perfecto
                        para nuestra sala de juegos.
                    </p>
                    <h2 class="text-2xl font-bold mb-4 text-green-400">
                        Cómo se juega
                    </h2>
                    <p>
                        El objetivo de Wordle es adivinar una palabra de cinco
                        letras en seis intentos. Después de cada intento, los
                        jugadores reciben retroalimentación indicando si las
                        letras están en la palabra correcta y en la posición
                        correcta. El juego combina lógica y vocabulario,
                        ofreciendo una experiencia educativa y entretenida.
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>
