<div class="flex flex-col min-h-screen">
    <main class="flex-1 py-12 px-4 md:px-6">
        <div class="max-w-3xl mx-auto ">
            <h1 class="text-6xl font-bold mb-12 text-center">Sobre Mí</h1>
            <div class="flex flex-col md:flex-row gap-8 items-start text-center md:text-start">
                <img
                    src="ahorcado.jpg"
                    alt="Franco Agustín Jimenez Copati"
                    class="rounded-lg border-4 border-green-400 self-center md:self-start w-80 h-auto"
                />
                <div>
                    <h2 class="text-2xl font-bold mb-4 text-green-400">
                        Datos Personales
                    </h2>
                    <ul class="space-y-2 mb-6">
                        <li><strong>Nombre:</strong> Franco Agustín</li>
                        <li><strong>Apellido:</strong> Jimenez Copati</li>
                        <li><strong>Ubicación:</strong> Argentina, CABA</li>
                    </ul>
                    <h2 class="text-2xl font-bold mb-4 text-green-400">
                        ¿Por qué Blackjack?
                    </h2>
                    <p class="mb-4">
                        Elegí agregar el Blackjack a nuestra colección de juegos
                        porque combina perfectamente la estrategia y la suerte.
                        Es un juego que desafía la mente y mantiene a los
                        jugadores en constante tensión, lo que lo hace perfecto
                        para nuestra sala de juegos arcade retro.
                    </p>
                    <h2 class="text-2xl font-bold mb-4 text-green-400">
                        Cómo se juega
                    </h2>
                    <p>
                        El objetivo del Blackjack es obtener una mano con un
                        valor lo más cercano posible a 21, sin pasarse. Cada
                        jugador compite contra el crupier. Las cartas numéricas
                        valen su número, las figuras valen 10 y el As puede
                        valer 1 u 11. Los jugadores reciben dos cartas y pueden
                        "pedir" más cartas para acercarse a 21. Si te pasas de
                        21, pierdes automáticamente. El crupier debe pedir carta
                        hasta tener 17 o más. Gana quien tenga la mano más
                        cercana a 21 sin pasarse.
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>
