<div class="mt-6 mb-8 flex flex-col items-center">
    <h1
        class="text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl/none mb-8"
    >
        Wordle
    </h1>

    <!-- Mensajes -->
    @if(this.won){

    <p class="text-green-500 text-center mb-4">Congratulations! You've won!</p>

    }

    <!-- Letras adivinadas -->
    <div class="flex flex-col gap-4 mb-8">
        @for(_ of this.maxAttemptsArray ; track $index; let nroFila = $index){
        <div class="flex space-x-2">
            @for(_ of this.game.getWordToGuess(); track $index; let i = $index){

            <div
                class="w-12 h-12 flex justify-center items-center text-xl font-bold rounded bg-gray-400 p-1 text-white"
                [ngClass]="
                    nroFila < this.game.getAttempts().length
                        ? {
                              'bg-green-500':
                                  this.rows[nroFila][i].status === 'correct',
                              'bg-yellow-500':
                                  this.rows[nroFila][i].status === 'present',
                              '':
                                  this.rows[nroFila][i].status === 'absent'
                          }
                        : ''
                "
            >
                @if(nroFila < this.game.getAttempts().length){
                {{ this.rows[nroFila][i].letter }}
                } @else if(nroFila == this.game.getAttempts().length){
                {{ this.currentGuess[i] }}
                }
            </div>
            }
        </div>
        }
    </div>

    <!-- Estado del alfabeto -->
    <div class="flex gap-2">
        <div class="letras gap-2">
            @for(letter of this.alphabet | keyvalue; track $index){

            <button
                class="w-8 h-8 flex justify-center items-center text-sm font-bold uppercase rounded"
                [ngClass]="{
                    'bg-green-500 text-white': letter.value === 'correct',
                    'bg-yellow-500 text-white': letter.value === 'present',
                    'bg-gray-400 text-white': letter.value === 'absent',
                    'bg-gray-200 text-black': letter.value === 'unused'
                }"
                (click)="onLetterClick(letter.key)"
            >
                {{ letter.key }}
            </button>
            }
        </div>
        <button
            (click)="onBackspaceClicked()"
            class="bg-red-300 w-8 rounded font-bold text-black"
        >
            <
        </button>
    </div>

    <!-- Botón de Reinicio -->
    @if(gameOver){

    <div class="text-center mt-4">
        <button
            (click)="resetGame()"
            class="bg-red-500 text-white p-2 rounded-lg hover:bg-red-600 transition"
        >
            Restart Game
        </button>
    </div>
    }
</div>
