<!-- <app-nav-bar></app-nav-bar> -->
<div class="flex flex-col min-h-screen items-center">
    <main class="flex-1 justify-center h-96 max-w-screen-2xl">
        <section class="w-full pt-12 md:pt-24 lg:pt-32 xl:pt-48 pb-6 md:pb-12 lg:pb-24 xl:pb-32 ">
            <div
                class="container px-4 md:px-6 flex flex-col items-center text-center"
            >
                <h1
                    class="text-4xl mb-9 font-bold tracking-tighter sm:text-5xl md:text-6xl lg:text-7xl/none animate-pulse"
                >
                    Bienvenido a la Sala de Juegos Definitiva
                </h1>
                <p
                    class="mx-auto max-w-[700px] text-slate-200 md:text-xl "
                >
                    Desafía tus habilidades con nuestros emocionantes juegos.
                </p>
                <p
                    class="mx-auto max-w-[700px] text-slate-200 md:text-xl"
                >
                    ¡Regístrate ahora para empezar a jugar y competir!
                </p>
                <div class="space-x-4 my-8">
                    <button
                        class="bg-green-500 hover:bg-green-500/70 p-2 rounded text-black"
                        routerLink="/auth/register"
                    >
                        Comenzar
                    </button>

                    <button
                        class="bg-green-500 hover:bg-green-500/70 p-2 rounded text-black"
                        routerLink="/about-me"
                    >
                        Saber más
                    </button>
                </div>
                <img src="utils/arrowDown.svg" alt="" class="w-12 mt-8 animate-bounce">
            </div>
        </section>
        <section class="w-full pb-12 md:pb-24 lg:pb-32 bg-gray-900 px-10">
            <div class="container px-4 md:px-6 pt-10">
                <h2
                    class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-center mb-8 py-8"
                >
                    Nuestros Juegos
                </h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    @for (game of games; track $index) {
                    <app-game-card
                        [title]="game.title"
                        [description]="game.description"
                        [url]="game.url"
                    ></app-game-card>
                    }
                </div>
            </div>
        </section>
    </main>
</div>
