
<header class="px-4 lg:px-6 h-16 flex items-center border-b bg-slate-900 shadow-md sticky top-0 z-50">
    <a class="flex items-center justify-center" href="#">
        <span class="sr-only">Sala de Juegos Arcade</span>
        <h1 class="text-green-500 hover:text-green-400 text-3xl font-bold ">
            Gameroom
        </h1>
    </a>
    <nav class="ml-auto flex gap-4 sm:gap-6">
        <button
            class="text-green-500 border-green-500 border rounded p-2 hover:bg-green-500/10 hover:text-white"
            routerLink="/auth"
        >
            Iniciar Sesión
        </button>
        <button
            class="bg-green-600 rounded p-2 hover:bg-green-600/60 "
            routerLink="/auth"
        >
            Registrarse
        </button>
    </nav>
</header>

