.wheel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel {
    transition: transform 4s cubic-bezier(0.33, 1, 0.68, 1); /* Animación suave */
}

/* Área clicable en el centro de la ruleta */
.clickable-center {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 25%; /* Ajusta el tamaño para que cubra el centro de la ruleta */
    height: 25%;
    background-color: transparent;
    cursor: pointer; /* Mostrar el puntero de clic */
    z-index: 10;
}
