/* Scrollbar personalizado */
.flex-1.overflow-y-auto::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.flex-1.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #005c4b; /* Color del pulgar del scrollbar (similar al color de tus mensajes) */
  border-radius: 4px; /* Bordes redondeados */
}

.flex-1.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background-color: #00443a; /* Color del pulgar al hacer hover */
}

.flex-1.overflow-y-auto::-webkit-scrollbar-track {
  background-color: #2d2d2d; /* Color del track del scrollbar (gris oscuro) */
  border-radius: 4px;
}

/* Firefox scrollbar */
.flex-1.overflow-y-auto {
  scrollbar-color: #005c4b #2d2d2d; /* Color del pulgar y del track */
  scrollbar-width: thin; /* Ancho del scrollbar */
}