/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'ngx-toastr/toastr.css'; */

body {
    background: #04031B;
    margin: 0;
    min-height: 100vh;
    color: whitesmoke;

    @apply font-sans;
}
